---
import "../styles/index.css";
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import SimpleFooter from "../components/SimpleFooter.astro";

const { title, description, image, imageAlt, type, publishedTime, noindex } =
  Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <Head {title} {description} {image} {imageAlt} {type} {publishedTime} {noindex} />
  </head>
  <body class="text-white bg-background">
    <Header />
    <main>
      <slot />
    </main>
    <SimpleFooter />
  </body>
</html>
